* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Sour Gummy", sans-serif;
    scroll-behavior: smooth;
}

.flex_column_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-image: url('https://cdn.pixabay.com/photo/2024/05/26/15/27/anime-8788959_960_720.jpg');
    background-position: 30% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

section.map {
    padding: 10px;
}

section.map iframe {
    width: 100%;
}

div.pojedynczy_kontakt i {
    font-size: 50px;
    border: 3px solid #4917a6;
    padding: 10px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: centre;
    margin: 5px;
}

section.kontakt {
    padding: 20px;
}

div.pojedynczy_kontakt {
    margin: 10px;
}

div.pojedynczy_kontakt:last-child {
    margin-bottom: 0;
}


div.single_place img {
    width: 100%;
}



section.contact {
    padding: 10px
}

.single_contact {
    margin: 10px;
}

.pink {
    color: #4D10C8
}

.drak_red {
    color: #643C9E
}

.pink2 {
    color: #4917a6
}

.white {
    color: white;
}

.purple {
    color: #5B4380
}

section.newsletter {
    background-color: #e7daf8;
    padding: 10px 20px;
}

section.newsletter h2 {
    text-transform: uppercase;
    margin: 10px 0;
}

section.newsletter form {
    margin: 10px 0;
}

section.newsletter form .newsletter_inputs {
    display: flex;
    flex-direction: column;
}

section.newsletter form .newsletter_inputs input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
    border: none;
}

button.button {
    width: 100%;
}

.button {
    background-color: #5B4380;
    color: white;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #785f94;
    padding: 10px 20px;
    margin: 10px 0;
}

.button:hover {
    background-color: rgb(255, 255, 255);
    color: #2e0082;
    transition: 0.3s;
}


section.places_to_see {
    padding: 10px;
}

section.places_to_see div.all_places {
    padding: 10px 10px 0 10px;
    text-align: center;
    line-height: 1.3;
}

section.comments {
    padding: 10px;
    background-image: url('https://cdn.pixabay.com/photo/2024/05/26/15/27/anime-8788959_960_720.jpg');
    background-position: 30% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section.comments .single_comments {
    background-color: rgba(55, 4, 102, 0.6);
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    width: 100%;
}

section.comments .single_comments :first-child {
    text-align: center;
    line-height: 1.3;
}

section.comments .single_comments :last-child {
    margin-top: 10px;
    align-self: flex-end;
    margin-top: 10px;
}

.podpis {
    text-align: center;
    color: #4917a6;
}